@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
/* line 13, ../sass/main.scss */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

/* line 33, ../sass/main.scss */
body {
  padding: 1em;
}

/* line 37, ../sass/main.scss */
.container {
  *zoom: 1;
  max-width: 48em;
  _width: 48em;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../compass/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 42, ../sass/main.scss */
.seating-wrapper {
  padding: 0 1em;
  width: 91.66667%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 51, ../sass/main.scss */
.seatRows {
  text-align: center;
  width: 4.16667%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 55, ../sass/main.scss */
.seatRows span {
  width: 100%;
  float: left;
  margin-right: 0%;
  display: inline;
  height: 40px;
  line-height: 40px;
  margin-bottom: 1em;
}

/* line 63, ../sass/main.scss */
.seatContainer {
  height: 40px;
  overflow: visible;
  position: relative;
  margin-bottom: 1em;
  width: 10%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 185, ../../compass/compass.app/lib/ruby/compass_extensions/susy-1.0.5/sass/susy/_grid.scss */
.seatContainer:nth-child(10n) {
  float: right;
  margin-right: 0;
}

/* line 73, ../sass/main.scss */
.seat {
  margin: 0;
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 1.7em;
  line-height: 40px;
  text-align: center;
  background: #38d078;
  color: #27ae60;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
/* line 87, ../sass/main.scss */
.seat:hover {
  cursor: pointer;
  color: #38d078;
  background: #27ae60;
}

/* line 94, ../sass/main.scss */
.wheelChair {
  background: #3498db;
  color: #2980b9;
}
/* line 98, ../sass/main.scss */
.wheelChair:hover {
  background: #2980b9;
  color: #3498db;
}

/* line 103, ../sass/main.scss */
.wcCompanion {
  background: #a66bbe;
  color: #8e44ad;
}
/* line 107, ../sass/main.scss */
.wcCompanion:hover {
  background: #8e44ad;
  color: #a66bbe;
}

/* line 112, ../sass/main.scss */
.taken {
  background: #e74c3c;
  color: #c0392b;
}
/* line 116, ../sass/main.scss */
.taken:hover {
  background: #c0392b;
  color: #e74c3c;
}

/* line 123, ../sass/main.scss */
#numSeatsContainer {
  border-bottom: 1px solid #cfd9db;
  padding-bottom: 1em;
  margin-bottom: 3em;
  width: 100%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 130, ../sass/main.scss */
#numSeatsContainer select {
  background: #34495e;
  color: #FFF;
  display: block;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 9%;
  float: left;
  margin-right: 0%;
  display: inline;
}
/* line 141, ../sass/main.scss */
#numSeatsContainer label {
  line-height: 2.4em;
  text-align: right;
  color: #27ae60;
  width: 10%;
  float: left;
  margin-right: 0%;
  display: inline;
  margin-right: 1.66667%;
}

/* line 154, ../sass/main.scss */
.seatTotal span {
  color: #34495e;
  font-size: 2em;
  line-height: 1.2em;
}

/* line 160, ../sass/main.scss */
#movieScreen {
  height: 1.7em;
  background: #cfd9db;
  margin-bottom: 3em;
  line-height: 1.8em;
  text-align: center;
  color: #859fa5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 173, ../sass/main.scss */
.ticket {
  height: 250px;
  margin-top: 2em;
  background: #34495e;
  color: #FFF;
  width: 25%;
  float: left;
  margin-right: 0%;
  display: inline;
}

@media (max-width: 30em) {
  /* line 188, ../sass/main.scss */
  body {
    padding: 0.8em;
  }

  /* line 192, ../sass/main.scss */
  .container {
    max-width: 40em;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../compass/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 198, ../sass/main.scss */
  #numSeatsContainer select {
    width: 100%;
    float: left;
    margin-right: 0%;
  }
  /* line 202, ../sass/main.scss */
  #numSeatsContainer label {
    text-align: left;
    width: 100%;
    float: left;
    margin-right: 0%;
  }

  /* line 209, ../sass/main.scss */
  .seating-wrapper {
    padding: 0;
    border: none;
    margin-left: 0%;
    width: 100%;
    float: left;
    margin-right: 0%;
  }

  /* line 217, ../sass/main.scss */
  .seatRows {
    display: none;
  }

  /* line 220, ../sass/main.scss */
  .seatContainer {
    width: 10%;
    float: left;
    margin-right: 0%;
  }

  /* line 224, ../sass/main.scss */
  .seat {
    height: 40px;
    font-size: 1.2em;
    line-height: 40px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
